{{ define "title"}}Bild News{{end}}
{{ define "description"}}Bild News ohne Fett{{end}}

{{ define "body" }}
<section class="news">
    <h1>Bild</h1>

    <ul>
        <li><a href="/bild/news">News-Ticker</a></li>
        <li><a href="/bild/corona">Corona Nachrichten</a></li>
    </ul>
</section>
{{ end }}